USE [master]
GO
/****** Object:  Database [inventory]    Script Date: 5/23/2021 7:43:09 PM ******/
CREATE DATABASE [inventory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'inventory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\inventory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'inventory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\inventory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [inventory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [inventory]
GO
/****** Object:  Schema [Inventory]    Script Date: 5/23/2021 7:43:09 PM ******/
CREATE SCHEMA [Inventory]
GO
/****** Object:  Table [dbo].[service]    Script Date: 5/23/2021 7:43:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Code] [varchar](250) NOT NULL,
	[Branch] [varchar](250) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TimeSlot] [varchar](250) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
